<%- include("partials/head") %>

<body>
  <header>

  <h1> This is a space Base </h1>

  </header>
  <div>

  <a href="/login">LOGIN</a>
  <a href="/signup">SIGNUP</a>
  <a href="/aindex">Admin</a>
  <a href="/uindex">User</a>

  </div>
</body>

</html>